@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
:root{
  /* ----- Color ----- */
  --sidebar-color: #FFF;
  --primary-color: #0056b3;
  --primary-color-light: #F6F5FF;
  --toggle-color: #ddd;
  --text-color: #707070;
 
  /* ----- Transition ----- */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
 
body {
  font-family: 'Poppins', sans-serif;
  background: #ececec;
  height: 100vh;
  overflow-x: hidden;
}
 
::selection {
  background-color: var(--primary-color);
  color: #fff;
}
 
/* ----- LOGIN / REGISTER ----- */
.box-area {
  width: 930px;
}
 
.right-box {
  padding: 40px 30px 40px 40px;
}
 
::placeholder {
  font-size: 16px;
}
 
.rounded-4 {
  border-radius: 20px;
}
 
.rounded-5 {
  border-radius: 30px;
}
 
.left-box {
  background: #0056b3;
}
 
.be-verified-text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
 
.left-box-description {
  width: 17rem;
  font-family: 'Courier New', Courier, monospace;
}
 
/*----- Popup OTP -----*/
.otp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Maggiore opacità per disattivare la pagina sottostante */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Assicurati che il popup sia sopra tutti gli altri contenuti */
}
 
.otp-modal {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px; /* Larghezza fissa per il popup */
  max-width: 90vw; /* Per evitare che il popup sia troppo grande su schermi piccoli */
  position: relative; /* Per posizionare l'icona di chiusura */
}
 
.otp-input-container {
  display: flex;
  justify-content: center; /* Allinea orizzontalmente al centro */
  gap: 10px; /* Spazio tra i campi di input */
  margin: 20px 0;
}
 
.otp-input {
  width: 50px; /* Larghezza fissa per ogni campo di input */
  height: 50px; /* Altezza fissa per ogni campo di input */
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}
 
.otp-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 3px var(--primary-color);
}
 
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: red; /* Colore rosso per l'icona di chiusura */
  cursor: pointer;
  transition: color 0.3s ease;
}
 
.close-icon:hover {
  color: darkred; /* Colore più scuro al passaggio del mouse */
}
 
/*----- Navbar ----- */
.navbar {
  margin-bottom: 15px;;
}
.menu-items .nav-link {
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding: 10px;
  color: #000; /* Colore del testo predefinito */
  text-decoration: none; /* Rimuove la sottolineatura */
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s; /* Aggiunge transizione per il colore e lo sfondo */
}
 
.menu-items .nav-link:hover {
  background-color: #0d6efd; /* Colore di sfondo blu */
  color: #fff; /* Colore del testo bianco */
}
 
.menu-items .nav-link box-icon {
  margin-right: 10px;
  font-size: 20px;
  fill: currentColor; /* Assicura che il colore dell'icona segua il colore del testo */
  color: inherit; /* Colore delle icone eredita dal contenitore */
}
 
.menu-items .nav-link:hover box-icon {
  fill: #fff !important; /* Colore delle icone bianco per l'hover */
  color: #fff !important; /* Colore delle icone bianco per l'hover */
}
 
.menu-items .nav-link span {
  margin-left: 10px;
}
 
/* Rimuove la sottolineatura dai link all'interno di Nav.Link */
.menu-items .nav-link a {
  text-decoration: none;
  color: inherit; /* Assicura che il colore del link erediti quello del contenitore */
}
 
.menu-items .nav-link a:hover {
  color: inherit; /* Assicura che il colore del link non cambi quando viene hoverato */
}
 
/* Flex-grow class for the spacer */
.flex-grow-1 {
  flex-grow: 1;
}
 
/* Stile per il link di Logout */
.logout-link {
  margin-top: auto; /* Spinge Logout alla fine */
  padding-top: 20px; /* Separa Logout dalle altre voci */
}
 
/* ----- Col Row ----- */
.row{
  margin-bottom: 20px;
}
 
/* ----- Notifiche -----*/
.notification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
}
 
.notification-content {
  flex: 1;
}
 
.notification-title {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
}
 
.notification-delete {
  color: red;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}
 
/* ----- Card Grafici ----- */
.chart-card {
  width: 100% !important;
  border-radius: 24px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
  background-color: white !important;
  margin: 20px 0 !important;
  padding: 10px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.header {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 16px !important;
  width: 100% !important;
}

 
/* ----- Calendario ----- */
.calendar-container {
  background-color: white; /* Colore di sfondo solido */
  padding: 10px; /* Spazio interno */
  border-radius: 8px; /* Angoli arrotondati (opzionale) */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Leggera ombra per dare profondità */
}
 
/* ----- Mappa Dashboard -----*/
.map-container-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
 
.map-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Questo fa sì che la mappa mantenga un aspetto a 4:3 */
  border-radius: 15px;
  overflow: hidden;
  background-color: #f0f0f0; /* Sfondo di fallback durante il caricamento della mappa */
}
 
.mapboxgl-map {
  border-radius: 15px; /* Arrotonda i bordi della mappa */
}
 
/* ----- Card Benvenuto ----- */
.styled-card {
  display: flex !important;
  align-items: center !important;
  background-color: #0d6efd !important;
  padding: 16px !important;
  border-radius: 16px !important;
  color: white !important;
  position: relative !important; /* Necessario per posizionare l'immagine */
  overflow: visible !important; /* Assicurati che l'immagine possa uscire dai bordi */
}
 
.styled-avatar {
  background-color: #fff !important;
  color: #0d6efd !important;
  margin-right: 16px !important;
  width: 56px !important;
  height: 56px !important;
}
 
.card-content {
  flex: 1 !important; /* Permette al contenuto di occupare lo spazio rimanente */
}
 
.welcome-image {
  width: 250px !important; /* Puoi regolare la dimensione come preferisci */
  height: 200px !important; /* Puoi regolare la dimensione come preferisci */
  position: absolute !important; /* Posiziona l'immagine in modo assoluto */
  right: 0px !important; /* Sposta l'immagine fuori dalla card verso destra */
  top: 50% !important; /* Centra verticalmente */
  transform: translateY(-50%) !important; /* Centra verticalmente */
  border-radius: 50% !important; /* Se desideri bordi arrotondati per l'immagine */
  object-fit: cover !important; /* Mantiene le proporzioni e copre l'area */
}
/* ----- Memo Card ----- */
.memo-card {
  display: flex !important;
  align-items: center !important;
  background-color: white !important; /* Sfondo bianco */
  padding: 16px !important;
  border-radius: 16px !important;
  color: #0d6efd !important; /* Testo blu per contrastare lo sfondo bianco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leggera ombra per un effetto di profondità */
  flex-grow: 1 !important;  /* Permette alla card di crescere per riempire lo spazio */
  max-height: 115px !important; /* Larghezza minima (modificabile) */
  height: auto !important; /* Altezza dinamica in base al contenuto */
}
 
/* ----- Bottoni/Card Statistiche ----- */
.stat-card {
  background-color: white;  /* Colore di default: bianco */
  color: #0d6efd;  /* Colore del testo e dell'icona di default */
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;  /* Allinea verticalmente al centro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  cursor: pointer;  /* Indica che è cliccabile */
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
 
.stat-card.clicked {
  background-color: #0d6efd !important;  /* Colore attuale quando cliccato */
  color: white !important;  /* Testo bianco quando cliccato */
}
 
.stat-card .icon {
  font-size: 2.5rem !important;
  margin-right: 20px;  /* Spazio tra l'icona e il testo */
  transition: color 0.3s ease !important;  /* Transizione per cambiare colore dell'icona */
}
 
.stat-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Allinea il contenuto al centro orizzontalmente */
  text-align: center;  /* Allinea il testo al centro */
}
 
.stat-card h5 {
  margin: 0;
  font-size: 1.2rem;
}
 
.stat-card .value {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 5px 0;  /* Spazio tra il valore e il titolo/descrizione */
}
 
.stat-card .description {
  font-size: 0.9rem;
}
 
.stat-card .line-graph {
  width: 100px;
  height: 30px;
  background-size: cover;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
 
/*------------ For small screens ------------*/
@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
    margin-bottom: 20px; /* Aggiungi uno spazio uniforme tra le card */
  }

  .left-box {
    height: auto; /* Permette all'altezza di adattarsi al contenuto */
    padding: 20px; /* Aggiunge un po' di padding per migliorare la spaziatura */
    text-align: center; /* Centra il testo e l'immagine */
  }
  
  .featured-image img {
    width: 100%; /* L'immagine prende tutta la larghezza del contenitore */
    max-width: 250px; /* Garantisce che l'immagine non diventi troppo grande */
    height: auto; /* Mantiene il rapporto d'aspetto */
  }

  .right-box {
    padding: 20px;
  }

  .welcome-image {
    display: none;
  }  

  .spaced-card {
    margin-bottom: 24px; /* Regola questo valore secondo le tue necessità */
  }
}


.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
 
.sidebar-header img {
  margin-right: 10px;
}
 
.sidebar-header h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0; /* Rimuove il margine predefinito */
}


 

 